{% load static %}

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'frontend/favicon.ico' %}?v=aifriends-anime-2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script type="module" crossorigin src="{% static 'frontend/assets/index-DAAXKBDz.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'frontend/assets/index-D1POd2D_.css' %}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
